/*
    ESTILOS PARA LA SECCIÓN HOME
*/
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
header{
    width: 100%;
    height: 14rem;
    display: grid;
    /*  Se utiliza para crear 2 filas del mismo ancho o cada una de una fracción*/
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100%;
    height: 5rem;
    display: grid;
    background: var(--color-primario);
}
header .header-icons-container .icons{
    width: 30rem;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    margin-right: 5rem;
}
header .icons span{
    color: var(--light);
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9rem;
    grid-column-gap: 5rem;
}
nav .nav-logo-container{
    align-self: center;
}
nav .nav-logo-container img{
    width: 22rem;
}
nav .nav-profile-link{
    justify-self: end;
    align-self: center;
    margin-right: 5rem;
}
nav .nav-profile-link a{
    text-decoration: underline;
    color: var(--dark);
}

/*
    MAIN
*/
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url(../assets/image/Cover.png);
}
.main__content{
    /* margin-top: 8rem; */
    color: var(--light);
    text-align: center;
}
.main__title{
    margin: 20rem 0;
    letter-spacing: 1rem;
    font-family: "Roboto Mono", sans-serif;
}
.main__button{
    display: inline-block;
    background: var(--color-primario);
    padding: 1.5rem 2rem;
    border: 2px solid #879D98;
    font-weight: 700;    
}

/* 
    BLOGS
*/


/*  
    WEB - BLOGS 
*/
.blogs-main{
    display: grid;
}

.blogs-news-container{
    background: var(--color-secundario);
    padding: 0 5rem 4rem;
    display: grid;
    /* row gap | column gap */
    grid-column-gap: 2rem;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 6rem 1fr;
}
.blogs-news__content-image{
    grid-column: 1;
}
.blogs-news__image{
    width: 100%;
}
.blogs-news__title{
    align-self: center;
    font-family: var(--fuente-secundaria);
}
.blogs-news__title--blog{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}
.blogs-news__extracto{
    font-family: var(--fuente-secundaria);
    font-size:1.8rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
}
.boton{
    display: inline-block;
    border: 2px solid var(--color-primario);
}