/*
    ESTILOS PARA LA SECCIÓN HOME
*/
body{
    width: 100vw;
    height: 100vh;
}
header{
    width: 100%;
    height: 14rem;
    display: grid;
    /*  Se utiliza para crear 2 filas del mismo ancho o cada una de una fracción*/
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100%;
    height: 5rem;
    display: grid;
    background: var(--color-primario);
}
header .header-icons-container .icons{
    width: 30rem;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    margin-right: 5rem;
}
header .icons span{
    color: var(--light);
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9rem;
    grid-column-gap: 5rem;
}
nav .nav-logo-container{
    align-self: center;
}
nav .nav-logo-container img{
    width: 22rem;
}
nav .nav-profile-link{
    justify-self: end;
    align-self: center;
    margin-right: 5rem;
}
nav .nav-profile-link a{
    text-decoration: underline;
    color: var(--dark);
}

/*
    MAIN
*/
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url(../assets/image/Cover.png);
}
.main__content{
    /* margin-top: 8rem; */
    color: var(--light);
    text-align: center;
}
.main__title{
    margin: 20rem 0;
    letter-spacing: 1rem;
    font-family: "Roboto Mono", sans-serif;
}

/*
    BOTON SE SEPARA DEL RESTO PORQUE ES ESTE ES UN NUEVO BLOQUE 
    SEGÚN LA MÉTODOLOGIA BEM
*/
.boton{
    display: inline-block;
    background: transparent;
    padding: 1rem 1.5rem;
    font-size: 1.3rem;
    border: 2px solid var(--color-primario);
    font-weight: 700;
    letter-spacing: .05rem;
    transition: .25s ease-in background,
                .25s ease-out color;
}
.boton--main{
    color: var(--light);
}
.boton:hover{
    background: var(--color-primario);
    color: var(--light);
}
/*  
    WEB - BLOGS 
*/
.blogs-main{
    /* display: grid; */
}
.blogs-news-container{
    background: var(--color-secundario);
}
.blogs-news__elements{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    padding: 0 0 4rem 0;
}
.blogs-news__content-image{
    grid-column: 1;
}
.blogs-news__image{
    width: 100%;
    border-radius: .4rem;
}
.blogs-news__title{
    align-self: center;
    font-family: var(--fuente-secundaria);
}
.blogs-news__title--blog{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}
.blogs-news__extracto{
    font-family: var(--fuente-secundaria);
    font-size:1.8rem;
    line-height: 2.8rem;
    margin-bottom: 3.5rem;
}
@media only screen and (min-width: 1024px){
    .blogs-news__elements{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 8rem 1fr;
    }
    .blogs-news__image{
        width: 80%;
    }
}
/* 
    BLOGS
*/
.blogs{
    margin-bottom: 8rem;
}
.blogs__container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    font-family: var(--fuente-secundaria);
}
.blogs__general-title{
    text-align: center;
    grid-column: 1 / span 3;
    border-bottom: 1px solid var(--color-secundario);
    padding: 3.5rem 0 2rem 0;
}
.blogs__titulo{
    margin: 2rem 0 4rem;
    font-weight: 700;
}
.blogs__extracto{
    margin-bottom: 2rem;
}
.blogs__image{
    width: 100%;
    border-radius: .4rem;
}

/* 
    BLOG
*/
.blog{
    font-family: var(--fuente-secundaria);
}
.blog__image{
    width: 100%;
    display: block;
    margin-bottom: 8rem;
}
.blog__titulo-categoria{
    border-bottom: 1px solid var(--color-secundario);
    font-size: 1.8rem;
    padding-bottom: 2rem;
}
.blog__titulo{
    margin: 2rem 0;
}
.blog p{
    line-height: 2.6rem;
    margin: 2rem 0;
}
/* 
    BLOG CONTACTO
*/
.blog-contacto{
    background: var(--color-secundario);
    font-family: var(--fuente-secundaria);
    padding: 8rem 0;
}
.blog-contacto__grid-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.blog-contacto__flex-content{
    display: flex;
    justify-content: center;
}
.blog-contacto__icon{
    --size-icon: 20rem;
    width: var(--size-icon);
    height: var(--size-icon);
}
.blog-contacto__icon--letter{
    background: url(../assets/image/013-newsletter.png) no-repeat center center;
}
.blog-contacto__icon--message{
    background: url(../assets/image/006-like.png) no-repeat center center;
}
/*
    FOOTER
*/
.footer{
    display: flex;
    flex-direction: column;
}
.footer__barra{
    background: var(--color-primario-heavy);
    height: 4rem;
    width: 100%;
}
.footer__derechos{
    text-align: center;
    background: var(--dark-swarn);
    color: var(--light);
    line-height: 6rem;
}