/*
    ESTILOS PARA LA SECCIÓN HOME
*/
body{
    width: 100vw;
    height: 100vh;
}
header{
    width: 100%;
    height: 14rem;
    display: grid;
    /*  Se utiliza para crear 2 filas del mismo ancho o cada una de una fracción*/
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100%;
    height: 5rem;
    display: grid;
    background: var(--color-primario);
}
header .header-icons-container .icons{
    width: 30rem;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    margin-right: 5rem;
}
header .icons span{
    color: var(--light);
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9rem;
    grid-column-gap: 5rem;
}
nav .nav-logo-container{
    align-self: center;
}
nav .nav-logo-container img{
    width: 22rem;
}
nav .nav-profile-link{
    justify-self: end;
    align-self: center;
    margin-right: 5rem;
}
nav .nav-profile-link a{
    text-decoration: underline;
    color: var(--dark);
}

/*
    MAIN
*/
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: url(../assets/image/Cover.png);
}

/*  
    WEB - BLOGS 
*/
.blogs-main{
    /* display: grid; */
}
.blogs-news-container{
    background: var(--color-secundario);
}
.blogs-news__elements{
    padding: 0 0 4rem 0;
    display: grid;
    /* row gap | column gap */
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 8rem 1fr;
}
.blogs-news__content-image{
    grid-column: 1;
}
.blogs-news__image{
    width: 80%;
}
.blogs-news__title{
    align-self: center;
    font-family: var(--fuente-secundaria);
}
.blogs-news__title--blog{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}
.blogs-news__extracto{
    font-family: var(--fuente-secundaria);
    font-size:1.8rem;
    line-height: 2.8rem;
    margin-bottom: 3.5rem;
}
.boton{
    display: inline-block;
    padding: 1.5rem 2rem;
    border: 2px solid var(--color-primario);
    font-weight: 700;    
}

/* 
    BLOGS
*/
.blogs{
    width: 80%;
    margin: 0 auto;
}
.blogs__title{
    text-align: center;
    border-bottom: 1px solid var(--color-secundario);
    padding: 3.5rem 0 2rem 0;
}